:host {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-container {
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    width: 200px;
}

/*:host {*/
/*    position: relative;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 10000 ;*/
/*}*/

/*.overlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #000;*/
/*    opacity: 0.5;*/
/*    z-index: 1;*/
/*}*/

/*.window {*/
/*    outline: none;*/
/*    position: fixed;*/
/*    margin: 0 auto;*/
/*    color: #000;*/
/*    text-align: left;*/
/*    min-width: 250px;*/
/*    top: 150px;*/
/*    display: flex;*/
/*    flex-flow: column;*/
/*    background-color: #ccc;*/
/*    width: inherit;*/
/*    left: inherit;*/
/*    z-index: inherit;*/
/*}*/

/*.content {*/
/*    box-sizing: border-box;*/
/*    background-color: #fff;*/
/*    border-radius: 0 0 2px 2px;*/
/*    color: #444;*/
/*    padding: 15px;*/
/*    border: 1px solid #dadbd7;*/
/*    flex: 1 1 auto;*/
/*    overflow-y: auto;*/
/*    overflow-x: hidden;*/
/*    position: relative;*/
/*    height: 100%;*/
/*}*/
